{% extends "@AdminModule/Layout/list.html.twig" %}

{% block mainTitle %}{{ 'menu_card.category'|trans({'%count%': 1}) }}{% endblock mainTitle %}
{% block subTitle %}{{ 'admin.overview'|trans }}{% endblock subTitle %}

{% block toolbar %}
    {% if is_granted('ROLE_EDITOR') %}
        <a class="btn btn-primary" href="{{ path('_menu_card.admin.category_new') }}" title="{% trans with { '%item%': 'menu_card.category'|trans({'%count%': 1}) } %}admin.item.add{% endtrans %}">
            <strong><i class="fa fa-edit"></i> {% trans with {'%item%': 'menu_card.category'|trans({'%count%': 1}) } %}admin.item.add{% endtrans %}</strong>
        </a>
    {% endif %}
{% endblock %}

{%- block content -%}
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box box-primary table-responsive">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'menu_card.category'|trans({'%count%': 10}) }}</h3>
                <div class="box-tools">
                </div>
            </div>
            <table class="listing table table-hover table-striped index-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'menu_card.name'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in pagination -%}
                    <tr>
                        <td class="table-buttons-container">
                            <span class="btn-group table-buttons">
                                <a href="{{ path('_menu_card.admin.category_toggle_active', {'id': category.id} ) }}" class="btn" title="{{ category.active ? 'admin.active'|trans : 'admin.inactive'|trans }}">
                                    <em class="fa {{ category.active ? 'fa-eye' : 'fa-eye-slash text-danger' }}"></em>
                                </a>
                            </span>
                        </td>
                        <td>
                            <div class="title">
                                <a href="{{ path('_menu_card.admin.category_edit', {'id': category.id} ) }}" {{ not category.isActive ? 'class="text-disabled"' }}>
                                    {{ category.name }}
                                </a>
                            </div>
                            <div class="tools">
                                <ul>
                                    <li>
                                        <a href="{{ path('_menu_card.admin.category_edit', {'id': category.id} ) }}">
                                            {{ 'admin.edit'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('_menu_card.admin.category_delete', {'id': category.id} ) }}" class="text-danger">
                                            {{ 'admin.delete'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {%- else -%}
                    <tr>
                        <td colspan="5">Geen categorieën gevonden</td>
                    </tr>
                {%- endfor %}
                </tbody>
            </table>
            <div class="box-footer">
                <div class="box-tools">
                    <div class="pagination no-margin pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
